*{
    margin: 0px;
    padding: 0px;
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 1.5fr 1.5fr ;
    grid-template-rows: 0.2fr 0.8fr 1.5fr 1.5fr;
    grid-template-areas: "nav nav nav "
    "sidebar main main "
    "sidebar content1 content2 "
    "sidebar content3 footer" ;


}

.introd{


      background-image: url(top.jpg);
      grid-area: nav;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:40px;
      color: #fff;
      border-bottom-style: solid;
      border-color: #333;


  }


  .maain{

    background-image: url(top.jpg);



      grid-area: main;

      grid-gap: 0.1rem;
      border-bottom-style: solid;
      border-color: #333;



  }

  .clock{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-top: 25px;
}

  #sidebar{


    background-image: url(top.jpg);
      grid-area: sidebar;
      color: #fff;
      border-right: solid;
      border-color: #333;



  }


#content1{


    background-image: url(TODO.jpg);
      grid-area: content1;

      grid-gap: 0.1rem;
      border-style: groove;


  }


  #content2{
    background-image: url(CALENDER2.png);

      grid-area: content2;

      grid-gap: 0.1rem;
      border-style: groove;


  }
  #content3{


    background-image: url(email.jpg);

      grid-area: content3;

      grid-gap: 0.1rem;

      border-style: groove;
  }

  .email{
    text-align: center;
    font-size: xx-large;
  }
  



footer{

      grid-area: footer;
      background-image: url(expense.jpg);
      grid-gap: 0.1rem;
      border-style: groove;
  }


  .expense{
    text-align: center;
    font-size: xx-large;
  }





  /* to do list */

.todo {
    width:100% ;
    margin: 0 auto;
}
#task-input{
    margin-left: 340px;
    font-size: large;

}

.to-do-heading {
    text-align: center;
    margin-bottom: 20px;
}
#add-task-btn{
    font-size: large;
}

#task-list {
    list-style: circle;
    margin-left: 370px;
    text-decoration: double;
font-size: xx-large;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-list li input[type="checkbox"] {
    margin-right: 10px;
}

.task-list li label {
    flex-grow: 1;
    margin: 0;
}



/* sidebar */

.sidebar {
    width: 100px;
    
    
  }
  
  .sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  
  .sidebar-nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ece9e9;
    font-size: 20px;
  }
  
  .sidebar-nav li a:hover {
    background-color: #aaaaaa;
  }



  /* calender */


.table1 {
    width: 100%;
    border-collapse: collapse;
}

.table1 th {
    background-color: #333;
    color: #fff;
    height: 40px;
    text-align: center;
}

.table1 td {
    border: 1px solid #ccc;
    height: 22px;
    padding: 10px;
    text-align: left;
}

.table1 td:hover {
    background-color: #f2f2f2;
  
}

#calender-heading{
    margin-left: 370px;


}


/* email */
.table2 {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table2 th {
    background-color: #333;
    color: #fff;
    height: 10px;
    text-align: center;
  }
  
  .table2 td {
    border: 1px solid #ccc;
    height: 10px;
    padding: 20px;
   
  }


  /* expense */

  .table3 {
    width: 100%;
    border-collapse: collapse;
}

.table3 th {
    background-color: #333;
    color: #fff;
    height: 10px;
    text-align: center;
}

.table3 td {
    border: 1px solid #ccc;
    height: 10px;
    padding: 20px;
    text-align: left;
}

.table3 td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
